<%= form_for(current_user.relationships.find_by(followed_id: @user.id),
             html: { method: :delete },
             remote: true) do |f| %>
  <div>
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  </div>
  <%= f.submit "Unfollow", class: "btn btn-large" %>
<% end %>
