<li>
  <%= gravatar_for user %>
  <%= link_to user.name, user, class: 'link-to-text-color' %>
  
  <% if current_user.admin? && !current_user?(user) %>
    | <%= link_to "delete", user, method: :delete,
                                  data: { confirm: "You sure?" }, class: 'link-to-text-color' %>
  <% end %>
</li>
