<h3>Search Result</h3>

    <ul class="users">
      <% @results.each do |result| %>
        <li>
          <%= gravatar_for result %>
          <%= link_to result.name, result %>
          <div>
              <%= pluralize(result.microposts.count, "Post") %>
          </div>
          <div>
              <%= link_to "View Profile", result %>
          </div>
        </li>

      <% end %>
    </ul>
