<ul class="suggestions">
  <div class="row">
    <div class="column4">
        Suggestions For You
    </div>
    
    <div class="column5">
        <%= link_to "See all", users_path, class: 'link-to-text-color' %>
    </div>
  </div>

</ul>



<ul class="suggested-users">
  <% @users.each do |user| %>
    <li>
      <%= gravatar_for user %>
      <%= link_to user.name, user, class: 'link-to-text-color' %>
    </li>
  <% end %>
</ul>
