
<%= link_to gravatar_for(current_user), current_user %>
<span>&nbsp;</span>
<span>
  <h1><%= link_to current_user.name, current_user, class: 'link-to-text-color' %></h1>
</span>
<span class="userinfo-saved"><%= link_to '<i class="gg-bookmark"></i>'.html_safe, favorites_path %></span>
