@import 'bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://css.gg/boy.css');
@import url('https://css.gg/home-alt.css');


/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
  font-family: 'Inconsolata', monospace;
  background-color: #fafafa;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}



.gg-boy,
.gg-boy::after,
.gg-boy::before {
    display: block;
    box-sizing: border-box;
    border-radius: 42px
}
.gg-boy {
    position: relative;
    width: 22px;
    height: 22px;
    transform: scale(var(--ggs,1));
    overflow: hidden;
    box-shadow: inset 0 0 0 2px
}
.gg-boy::after,
.gg-boy::before {
    content: "";
    position: absolute;
    width: 2px;
    height: 2px;
    background: currentColor;
    box-shadow: 6px 0 0;
    left: 6px;
    top: 10px
}
.gg-boy::after {
    width: 20px;
    height: 20px;
    top: -13px;
    right: -12px;
}
.gg-boy:hover{
  color: #A4A4A4;
}
.gg-instagram {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs,1));
    border: 2px solid transparent;
    box-shadow: 0 0 0 2px;
    border-radius: 4px;
    width: 19px;
    height: 19px
}
.gg-instagram::after,
.gg-instagram::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute
}
.gg-instagram::after {
    border: 2px solid;
    left: 3px;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    top: 3px
}
.gg-instagram::before {
    border-radius: 3px;
    width: 2px;
    height: 2px;
    background: currentColor;
    right: 1px;
    top: 1px
}
.gg-instagram:hover{
  color: #A4A4A4;
}


  .gg-profile,
.gg-profile::after,
.gg-profile::before {
    display: block;
    box-sizing: border-box;
    border: 2px solid;
    border-radius: 100px
}
.gg-profile {
    overflow: hidden;
    transform: scale(var(--ggs,1));
    width: 22px;
    height: 22px;
    position: relative
}
.gg-profile:hover{
  color: #A4A4A4;
}
.gg-profile::after,
.gg-profile::before {
    content: "";
    position: absolute;
    top: 2px;
    left: 5px;
    width: 8px;
    height: 8px
}
.gg-profile::after {
    border-radius: 200px;
    top: 11px;
    left: 0px;
    width: 18px;
    height: 18px
}
.gg-chevron-double-down-r {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs,1));
    border: 2px solid;
    border-radius: 4px;
    width: 22px;
    height: 22px;
}
.gg-chevron-double-down-r::after,
.gg-chevron-double-down-r::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    width: 6px;
    height: 6px;
    border-bottom: 2px solid;
    border-right: 2px solid;
    transform: rotate(45deg);
    left: 6px;
    top: 3px
}
.gg-chevron-double-down-r::after {
    top: 7px
}
.gg-chevron-double-down-r:hover{
  color: #A4A4A4;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {
  display: block;
}

//test
.profilehead {
  text-align: center;
  text-transform: capitalize;
  font-family: 'Inconsolata', monospace;
  font-size: 0.5em;
  letter-spacing: 5px;
  line-height: 1;
}
// link_to{
//   background-color: grey;
//   color: grey;
// }
.button {
  background-color: grey;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 0.6;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  letter-spacing: 2px;
  font-family: 'Inconsolata', monospace;
  border-radius: 12px;
  width: auto;
  height: auto;
}


.button:hover {
  background-color: black; /* Green */
  color: white;
  opacity: 1;
  box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

//test end

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
  text-transform: capitalize;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #999;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: camelcase;
  letter-spacing: 2px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
  font-family: 'Inconsolata', monospace;
  // color: black;
}

#logo:hover {
  color: #f2f2f2;
  text-decoration: none;
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #999;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 10px;
}


/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}
/* sidebar */

aside {
  section {
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:first-child {
      border: 0;
      padding-top: 0;
      width: auto;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
      width: auto;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: 1px;
      margin-bottom: 3px;
      margin-top: 0px;
      width: auto;
      height: auto;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  width: 50px;
  height: auto;

}


/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}


/* forms */

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}

.field {
  width: 270px;
   border-radius: 12px;
}
.field:focus {
  border: 3px solid #555;
}
.imguploader{
  width: 250px;
  border-radius: 12px;
}

/* Users index */

.users {
  list-style: none;
  margin: 0;



  li {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:last-child {
      border-bottom: 1px solid $grayLighter;
    }
  }
}

.suggested-users{

    list-style: none;
    margin: 0;



    li {
      overflow: auto;
      padding: 10px 0;
      border-top: 1px solid $grayLighter;
      &:last-child {
        border-bottom: 1px solid $grayLighter;
    }
    .gravatar{
      width: 10%;
      height: 10%;
    }
  }
}
/* microposts */

.microposts {
  list-style: none;
  margin: 10px 0 0 0;
  // border: 1px solid $grayLighter;
  .gravatar{
    width: 5%;
    height: 5%;
    margin-left: 10px;
  }
  .user{
    margin-top: 15px;
  }
  .post-title{
    // background-color: #f2f2f2;
  }
  .img{
    width: auto;

  }
  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
    border: 1px solid $grayLighter;
    margin: 10px 0 30px 0;
    background-color: #ffffff;
    border-radius: 12px;
  }
}
.content {
  display: block;
  // text-transform: capitalize;
  font-weight: bold;
  font-size: 14px;
  margin-left: 10px;
  margin-top: 10px;
  height: auto;

}
.timestamp {
  color: $grayLight;
  font-size: 10px;
  margin-left: 10px;

}
.gravatar {
  float: left;
  margin-right: 10px;
  border-radius: 25px;

}
aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}


.stats {
  overflow: auto;
  a {
    float: left;
    width: 125px;
    padding: 0 10px;
    border-left: 1px solid $grayLighter;
    color: gray;
    &:first-child {
      padding-left: 0;
      border: 0;

    }
    &:hover {
      text-decoration: none;
      color: $blue;
    }
  }
  strong {
    display: block;
  }
}

.user_avatars {
  overflow: auto;
  margin-top: 5px;
  .gravatar {
    margin: 1px 1px 1px 1px;
  }
}


.img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  height: auto;

}

//test

div.gallery {
  margin: 5px;
  border: 0px solid #ccc;
  float: left;
  width: 280px;
  height: 380px;
  margin-left: 30px;
  margin-bottom: 20px;


}

div.gallery:hover {
  border: 0px solid #777;
}

div.gallery img {
  width: 100%;
  height: 240px;

  object-fit: cover;
  object-position: 20% 10%; /* try 20px 10px */
}

div.desc {
  padding: 15px;
  text-align: center;
}



.profilepic{
  height: auto;
  width: 70px;
  // float: left;
  object-fit: cover;
    object-position: 20% 10%; /* try 20px 10px */
    border: 2px solid black;
}


.form-control{
  width: 150px;
  float: none;
  text-align: center;
  background-color: grey;
  font-family: 'Inconsolata', monospace;
}

.displayname{
  font-size: 40px;
  font-weight: 200;
  text-transform: capitalize;
}



.column1 {
  float: left;
  width: 30%;
  .gravatar{
    width: 100px;
    height: 100px;
    margin: 10px 10px 10px 100px;
    border-radius: 50px;
  }
}
.column2 {
  float: left;
  width: 70%;
}
.column3 {
  float: left;
  width: auto;
}
.column4 {
  float: left;
  width: 80%;
}
.column5 {
  float: left;
  width: 20%;
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
hr{
  border: 1px solid #777;
}
.searchbar{
  border-radius: 12px;
}
.post-feed{
  text-align: center;
}
.suggestions{
  font-size: 14px;
  color: gray;

}
.vl {
  border-left: 2px solid gray;
  height: 15px;
}
.link-to-text-color
{
  color: black;
  // font-weight: bold;
}
.link-to-text-color:hover{
  text-decoration: none;
  color: blue;
}
