@import 'bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://css.gg/boy.css');
@import url('https://css.gg/home-alt.css');


/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
  font-family: 'Inconsolata', monospace;
  background-color: #ffffff;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}



.gg-boy,
.gg-boy::after,
.gg-boy::before {
    display: block;
    box-sizing: border-box;
    border-radius: 42px
}
.gg-boy {
    position: relative;
    width: 22px;
    height: 22px;
    transform: scale(var(--ggs,1));
    overflow: hidden;
    box-shadow: inset 0 0 0 2px
}
.gg-boy::after,
.gg-boy::before {
    content: "";
    position: absolute;
    width: 2px;
    height: 2px;
    background: currentColor;
    box-shadow: 6px 0 0;
    left: 6px;
    top: 10px
}
.gg-boy::after {
    width: 20px;
    height: 20px;
    top: -13px;
    right: -12px;
}
.gg-boy:hover{
  color: #A4A4A4;
}
.gg-instagram {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs,1));
    border: 2px solid transparent;
    box-shadow: 0 0 0 2px;
    border-radius: 4px;
    width: 19px;
    height: 19px
}
.gg-instagram::after,
.gg-instagram::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute
}
.gg-instagram::after {
    border: 2px solid;
    left: 3px;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    top: 3px
}
.gg-instagram::before {
    border-radius: 3px;
    width: 2px;
    height: 2px;
    background: currentColor;
    right: 1px;
    top: 1px
}
.gg-instagram:hover{
  color: #A4A4A4;
}


  .gg-profile,
.gg-profile::after,
.gg-profile::before {
    display: block;
    box-sizing: border-box;
    border: 2px solid;
    border-radius: 100px
}
.gg-profile {
    overflow: hidden;
    transform: scale(var(--ggs,1));
    width: 22px;
    height: 22px;
    position: relative
}
.gg-profile:hover{
  color: #A4A4A4;
}
.gg-profile::after,
.gg-profile::before {
    content: "";
    position: absolute;
    top: 2px;
    left: 5px;
    width: 8px;
    height: 8px
}
.gg-profile::after {
    border-radius: 200px;
    top: 11px;
    left: 0px;
    width: 18px;
    height: 18px
}
.gg-chevron-double-down-r {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs,1));
    border: 2px solid;
    border-radius: 4px;
    width: 22px;
    height: 22px;
}
.gg-chevron-double-down-r::after,
.gg-chevron-double-down-r::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    width: 6px;
    height: 6px;
    border-bottom: 2px solid;
    border-right: 2px solid;
    transform: rotate(45deg);
    left: 6px;
    top: 3px
}
.gg-chevron-double-down-r::after {
    top: 7px
}
.gg-chevron-double-down-r:hover{
  color: #A4A4A4;
}

li.dropdown {
  display: inline-block;
  float: right;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ffffff;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {
  display: block;
}

//test
.profilehead {
  text-align: center;
  text-transform: capitalize;
  font-family: 'Inconsolata', monospace;
  font-size: 0.5em;
  letter-spacing: 5px;
  line-height: 1;
}
// link_to{
//   background-color: grey;
//   color: grey;
// }
.button {
  background-color: grey;
  border: none;
  color: white;
  padding: 6px 12px;
  text-align: center;
  font-size: 14px;
  margin: 4px 2px;
  opacity: 0.6;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  letter-spacing: 1px;
  font-family: 'Inconsolata', monospace;
  border-radius: 12px;
  width: auto;
  height: auto;
}


.button:hover {
  background-color: black; /* Green */
  color: white;
  opacity: 1;
  box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

//test end

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
  text-transform: capitalize;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #999;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: black;
  text-transform: camelcase;
  letter-spacing: 2px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
  font-family: 'Inconsolata', monospace;
  // color: black;
}

#logo:hover {
  color: #f2f2f2;
  text-decoration: none;
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #999;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 10px;
}


/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}
/* sidebar */

aside {
  section {
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:first-child {
      border: 0;
      padding-top: 0;
      width: auto;
    }

    .aside-footer{
      color: black;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
      width: auto;

    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: 1px;
      margin-bottom: 3px;
      margin-top: 0px;
      width: auto;
      height: auto;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  width: 50px;
  height: auto;
  padding: 2px;
  border: 1px solid #ee90c8;

}


/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}


/* forms */

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}

.field {
  width: 270px;
   border-radius: 12px;
}
.field:focus {
  border: 3px solid #555;
}
.imguploader{
  width: 250px;
  border-radius: 12px;
}

/* Users index */

.users {
  list-style: none;
  margin: 0;



  li {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:last-child {
      border-bottom: 1px solid $grayLighter;
    }
  }
}

.suggested-users{

    list-style: none;
    margin: 0;



    li {
      overflow: auto;
      padding: 5px 0;
      font-size: 12px;
      // border-top: 1px solid $grayLighter;
      &:last-child {
        // border-bottom: 1px solid $grayLighter;
    }
    .gravatar{
      width: 10%;
      height: 10%;
      padding: 2px;
      border: 1px solid #ee90c8;
    }
  }
}
/* microposts */

.microposts {
  list-style: none;
  margin: 10px 0 0 0;
  // border: 1px solid $grayLighter;
  .gravatar{
    width: 5%;
    height: 5%;
    margin-left: 10px;
    padding: 2px;
    // border-color: #ee90c8;
    border: 1px solid #ee90c8;
  }
  .gg-heart,
  .gg-heart::after {
      border: 2px solid;
      border-top-left-radius: 100px;
      border-top-right-radius: 100px;
      width: 10px;
      height: 8px;
      border-bottom: 0;
      // margin: 5px 5px 5px 5px;
      // padding: 5px 0px 0px 5px;
  }
  .gg-heart {
      box-sizing: border-box;
      position: relative;
      color: black;
      cursor: pointer;
      transform:
          translate(
              calc(-10px / 2 * var(--ggs,1)),
              calc(-6px / 2 * var(--ggs,1))
          )
          rotate(-45deg)
          scale(var(--ggs,1));
      display: block;
       // padding: 5px 0px 0px 5px;
       margin: 15px 15px 15px 15px;
  }
  .gg-heart::after,
  .gg-heart::before {
      content: "";
      display: block;
      box-sizing: border-box;
      position: absolute
  }
  .gg-heart::after {
      right: -9px;
      transform: rotate(90deg);
      top: 5px
  }
  .gg-heart::before {
      width: 11px;
      height: 11px;
      border-left: 2px solid;
      border-bottom: 2px solid;
      left: -2px;
      top: 3px
  }

  .post-title{
    // background-color: #f2f2f2;


    .user{
      margin-top: 15px;
    }

    .dropdown {
      display: inline-block;
      float: right;
      padding: 15px 15px 10px 10px;
    }

    .dropdown-content {
      display: none;
      position: absolute;
      background-color: #ffffff;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
    }

    .dropdown-content a {
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
      text-align: left;
      font-size: 12px;
    }

    .dropdown-content a:hover {background-color: #f1f1f1;}

    .dropdown:hover .dropdown-content {
      display: block;
    }

  }
  .img{
    width: auto;

  }
  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
    border: 1px solid $grayLighter;
    margin: 10px 0 30px 0;
    background-color: #ffffff;
    border-radius: 2px;
    // box-shadow: 0px 0px 8px 3px #999;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    // box-shadow: -5px -5px 3px 1px #999;
  }
}
.content {
  display: block;
  // text-transform: capitalize;
  font-weight: bold;
  font-size: 14px;
  margin-left: 10px;
  margin-top: 10px;
  height: auto;

}
.timestamp {
  color: $grayLight;
  font-size: 10px;
  margin-left: 10px;

}
.gravatar {
  float: left;
  margin-right: 10px;
  border-radius: 25px;
  padding: 2px;
  border: 1px solid #ee90c8;

}
aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}


.stats {
  overflow: auto;
  a {
    float: left;
    width: 125px;
    padding: 0 10px;
    border-left: 1px solid $grayLighter;
    color: gray;
    &:first-child {
      padding-left: 0;
      border: 0;

    }
    &:hover {
      text-decoration: none;
      color: $blue;
    }
  }
  strong {
    display: block;
  }
}

.user_avatars {
  overflow: auto;
  margin-top: 5px;
  .gravatar {
    margin: 1px 1px 1px 1px;
    padding: 2px;
    border: 1px solid #ee90c8;
  }
}


.img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  height: auto;

}

//test

div.gallery {
  margin: 5px;
  border: 0px solid #ccc;
  float: left;
  width: 280px;
  height: 380px;
  margin-left: 30px;
  margin-bottom: 20px;


}

div.gallery:hover {
  border: 0px solid #777;
}

div.gallery img {
  width: 100%;
  height: 240px;

  object-fit: cover;
  object-position: 20% 10%; /* try 20px 10px */
}

div.desc {
  padding: 15px;
  text-align: center;
}



.profilepic{
  height: auto;
  width: 70px;
  // float: left;
  object-fit: cover;
    object-position: 20% 10%; /* try 20px 10px */
    border: 2px solid black;
}


.form-control{
  width: 150px;
  float: none;
  text-align: center;
  background-color: grey;
  font-family: 'Inconsolata', monospace;
}

.displayname{
  font-size: 40px;
  font-weight: 200;
  text-transform: capitalize;
}



.column1 {
  float: left;
  width: 30%;
  .gravatar{
    width: 100px;
    height: 100px;
    margin: 10px 10px 10px 100px;
    border-radius: 50px;
    padding: 2px;
    border: 1px solid #ee90c8;
  }
  .wrapper{
      width: 140px;
      height: 140px;
      margin: 40px auto;
    }
}
.column2 {
  float: left;
  width: 70%;
  .user-wrapper{
      display: flex;
    }
    .username{
      font-size: 30px;
      line-height: 40px;
      font-weight: 200;
      color: black;
    }
    ul.posts-1{
      text-align: left;
      padding-left: 0px;
      margin-left: auto;
      margin-bottom: 15px;
      margin-top: -10px;
      > li{
        display: inline;
        padding-right: 30px;
        font-size: 15px;
        span{
          color: #262626;
          font-weight: 600;
        }
      }
    }

   .bio{
     .bio-p{
       text-align: left;
       margin-bottom: 0px;
     }
   }
}
.column3 {
  float: left;
  width: auto;
}
.column4 {
  float: left;
  width: 80%;
}
.column5 {
  float: left;
  width: 20%;
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
hr{
  border: 1px solid #777;
}
.searchbar{
  border-radius: 12px;
}
.post-feed{
  text-align: center;
}
.suggestions{
  font-size: 14px;
  color: gray;

}
.vl {
  border-left: 2px solid gray;
  height: 15px;
}
.link-to-text-color
{
  color: black;
  // font-weight: bold;
}
.link-to-text-color:hover{
  text-decoration: none;
  color: blue;
}
.link-to-text-color-aside
{
  color: #d1d1d1;
  font-size: 12px;
  // font-weight: bold;
}
.link-to-text-color-aside:hover{
  text-decoration: none;
  color: blue;
}
.info{
  color: #d1d1d1;
  font-size: 12px;
}

.overlay {
  /* Height & width depends on how you want to reveal the overlay (see JS below) */
  height: 100%;
  width: 0;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  // background-color: rgb(0,0,0); /* Black fallback color */
  background-color: rgba(255,255,255, 0.9); /* Black w/opacity */
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
  .overlay-content{

    .overlaytextarea{
      width: auto;
      padding: 0px 500px 0px 500px;
    }
  }
}

/* Position the content inside the overlay */
.overlay-content {
  position: relative;
  top: 25%; /* 25% from the top */
  width: 100%; /* 100% width */
  text-align: center; /* Centered text/links */
  align-items: center;
  margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */

}


/* The navigation links inside the overlay */
.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block; /* Display block instead of inline */
  transition: 0.3s; /* Transition effects on hover (color) */
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
  position: absolute;
  top: 60px;
  right: 45px;
  font-size: 60px;
}

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

.gg-add-r {
   box-sizing: border-box;
   position: relative;
   display: block;
   width: 22px;
   height: 22px;
   border: 2px solid;
   transform: scale(var(--ggs,1));
   border-radius: 4px;
   cursor: pointer;

}
.gg-add-r::after,
.gg-add-r::before {
   content: "";
   display: block;
   box-sizing: border-box;
   position: absolute;
   width: 10px;
   height: 2px;
   background: currentColor;
   border-radius: 5px;
   top: 8px;
   left: 4px

}
.gg-add-r::after {
   width: 2px;
   height: 10px;
   top: 4px;
   left: 8px
}


.gg-options {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs,1));
    width: 10px;
    height: 2px;
    color: black;
    box-shadow:
        -3px 4px 0 0,
        3px -4px 0 0
}
.gg-options::after,
.gg-options::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    width: 8px;
    height: 8px;
    border: 2px solid;
    border-radius: 100%
}
.gg-options::before {
    top: -7px;
    left: -4px
}
.gg-options::after {
    bottom: -7px;
    right: -4px
}


.profile .avatar{
    .wrapper{
      width: 140px;
      height: 140px;
      margin: 40px auto;
    }
    .wrapper img{
      width: 100%;
      border-radius: 50%;
    }
  }

  .profile .basic-info{
    padding: 40px 0px;
    .user-wrapper{
      display: flex;
    }
    .username{
      font-size: 30px;
      line-height: 40px;
      font-weight: 200;
    }

    ul.posts-1{
      text-align: left;
      padding-left: 0;
      > li{
        display: inline;
        padding-right: 40px;
        font-size: 15px;
        span{
          color: #262626;
          font-weight: 600;
        }
      }
    }

   .bio{
     text-align: left;
   }
  }
.hr-line{
  border-top: 1px solid #c9c9c9;
}
