<footer class="footer">
  <small>
    <a href="http://instagram.com/">Instagram</a> clone
    by Sriram Kaluva
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://instagram.com/">News</a></li>
    </ul>
  </nav>
</footer>
